.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    z-index: 10;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    pointer-events: visible;

}
.modal-main{
    position: absolute;
    top: 100px;
    width: 560px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    background-color: white;
    border:none;
    border-radius: 12px;
    color:black;
}
.modal-title{
    font-family: "Montserrat-Bold";
    font-size: 20px;
    border-bottom: 1px solid #ECEAE9;
    padding: 20px;
}
.modal-content{
}
.modal-content input{
    width: 100%;
    height: 30px;
    font-size: 14px;
    padding: 0px 10px;
}
.modal-content textarea {
    width: 100%;
    resize: none;
    font-size: 15px;
    padding: 5px;
    height: 200px;
}
#modal-label{
    color: #6D6E6F;
    font-size: 12px;
    padding: 10px 20px;
    font-family: "Montserrat-Bold";
}
 #modal-button{
    width: 60px;
    font-size: 14px;
    color: white;
    background-color: #796EFF;
    border-radius: 5px;
    border:none;
    height: 36px;

    cursor: pointer;
 }
#modal-button-container{
    border-top: 1px solid #ECEAE9;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    padding: 20px 20px;
}

#modal-button:hover{
    background-color: #635ac7;
}
 #modal-button-delete{
    width: 60px;
    font-size: 14px;
    color: black;
    background-color: #F06A6A;
    border-radius: 5px;
    border:none;
    height: 36px;
    cursor: pointer;
 }
#modal-button-delete:hover{
    background-color: #DF6064;
}
 #modal-button-cancel{
    width: 60px;
    margin-right: 20px;
    font-size: 14px;
    color: black;
    background-color: white;
    border-radius: 5px;
    border:1px solid #CECBCB;
    height: 36px;

    cursor: pointer;
 }
 #modal-button-cancel:hover{
    background-color: #F9F8F8;
    border-color: #AEABAC;
}
