.priorities-topbar{
    border-bottom: 1px solid #ECEAE9;
}
.priorities-nav{
    display: flex;
    margin-left: 24px;
    padding-top: 7px;
}
#priorities-notepad-widget-title{
    font-size: 20px;
    line-height: 28px;
    flex-shrink: 0;
    margin: 24px 24px 0px 24px;
}
#priorities-nav-item{
    font-size: 14px;
    margin-right: 20px;
    padding-bottom: 10px;
    color: #6D6E6F;
    font-family: "Montserrat-Regular";
    font-weight: 900;
}
#priorities-nav-item:hover{
    cursor:pointer;
    color: black;
    border-bottom: 3px solid black;
}
#priorities-nav-item-active{
    font-size: 14px;
    padding-bottom: 10px;
    margin-right: 20px;
    color:black;
    border-bottom: 3px solid black;
    font-family: "Montserrat-Regular";
    font-weight: 900;
}
#priority-task-item{
    display: flex;
    min-height: 30px;
    padding: 5px 0px;
    font-family: "Montserrat";
    border-bottom: 1px solid #ECEAE9;
}
#priority-task-item-completed{
    display: flex;
    opacity: 0.5;
    min-height: 30px;
    padding: 5px 0px;
    font-family: "Montserrat";
    border-bottom: 1px solid #ECEAE9;
}
.priorities-list{
    padding: 20px 20px;
}
#priority-task-title{
    width: 70%;
    max-width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#task-priority-project:hover{
    cursor: pointer;
}
#task-priority-due-date{
    display: flex;
    padding-left: 5px;
    text-overflow: ellipsis;
    max-height: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color:#AEABAC;
    white-space: nowrap;
    overflow: hidden;
}
#task-priority-overdue-date{
    display: flex;
    padding-left: 5px;
    text-overflow: ellipsis;
    max-height: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color:#F06A6F;
    white-space: nowrap;
    overflow: hidden;
}
#task-priority-project {
	border-radius: 10px;
	display: block;
	font-size: 12px;
	font-weight: 400;
	height: 20px;
    width: 70px;
	line-height: 20px;
	overflow: hidden;
    margin-right: 5px;
	padding: 0 8px;
	text-align: left;
    text-overflow: ellipsis;
	white-space: nowrap;
    background-color: #f06a6a;
    color: black;
}
