.board-section{
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    transition: box-shadow 250ms;
    height: 100%;
    max-width: 304px;
    padding: 0 12px;
    position: relative;
    flex: 0 0 304px;
    width: 304px;
}
.board-section-title svg{
    margin: 3px;
}
.board-section:hover{
    box-shadow: 0 0 0 1px #edeae9;
}
.board-section-title{
    display: flex;
    align-items: center;
}
.board-section-title h3{
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
    color:black;
    margin-right: auto;
}
.board-section-tasks{
    scroll-padding-bottom: 24px;
    scroll-padding-top: 24px;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    padding: 2px 12px 0;
    min-height: 1px;
    overflow-y: auto;
}
