.task-detail-overlay{
    background-color: white;
    border-top: 1px solid #edeae9;
    bottom: 0;
    box-shadow: 0 0 0 1px #edeae9, 0 5px 20px 0 rgba(109, 110, 111, 0.08);;
    display: flex;
    flex-direction: column;
    left: 100%;
    max-width: 700px;
    position: absolute;
    top: 0;
    transition: transform .2s ease-in;
    width: 55%;
    z-index: 7;
}
.task-detail-overlay-open{
        transform: translateX(-100%);
    transition: transform .5s cubic-bezier(0.23, 1, 0.32, 1);
}
.task-detail-inner-content{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 1px;
}
.task-detail-toolbar{
    height: 56px;
    display: flex;
    flex-shrink: 0;
    border-bottom: 1px solid #ECEAE9;
}
.task-detail-details{
   display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 20px;
    min-height: 1px;
}


#title-textarea {
    width: 100%;
    resize: none;
    border: none;
    height: auto;
    outline: none;
    font-size: 24px;
    display: inline-block;
    font-weight: 500;
    min-height: 0px;
    padding: 6px;
}
#title-textarea:hover{
    outline: 1px solid #6D6E6F;
    border-radius: 6px;
}
#title-textarea:focus{
    outline: 1px solid #6D6E6F;
    border-radius: 6px;
}
#task-detail-toolbar-complete{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
#task-detail-toolbar-complete svg{
    vertical-align: bottom;
    margin-bottom: 1px;
}
#task-detail-toolbar-complete-button{
    height: 28px;
    background-color: white;
    color:black;
    font-size: 12px;
    padding: 0 8px;
    border-radius: 6px;
    border: 1px solid #CECBCB;
    cursor: pointer;
}
#task-detail-toolbar-complete-button-completed{
    height: 28px;
    background-color: #eaf9f4;
    color:#467761;
    font-size: 12px;
    padding: 0 8px;
    border-radius: 6px;
    border: 1px solid #5da283;
    opacity: 0.7;
    cursor: pointer;
}
#task-detail-toolbar-complete-button:hover{
    color:#467761;
    border-color:#5da283;
    background-color: #eaf9f4;

}
#task-detail-toolbar-complete-button-completed:hover{
    opacity: 1;

}
#task-detail-close{
    margin-left:auto;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

#task-detail-toolbar-delete{
    width: 70px;
    font-size: 12px;
    border: 1px solid #CECBCB;
    color: black;
    background-color: #F06A6A;
    border-radius: 5px;
    height: 28px;
    cursor: pointer;
}
#task-detail-toolbar-delete:hover{
    background-color: #DF6064;
}
#task-detail-toolbar-close{
    color: #6D6E6F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    height: 30px;
    width: 30px;
    margin-top: 4px;
    border-radius: 4px;
    border:none;
    position: relative;
    transition-duration: .5s;
    transition-property: background-color;
}
#task-detail-toolbar-close:hover{
    background-color: #f5f1f1;
    color: black;
    cursor: pointer;
}
.task-detail-fields{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.task-detail-fields-row{
    display: flex;
    align-items: center;
    height: 36px;
    padding: 10px 0px 10px 0px;
}
#task-detail-row-content{
    padding-left: 7px;
}
#task-detail-row-label{
    width: 100px;
    font-family: 'Montserrat-Bold';
    font-size: 12px;
    line-height: 18px;
    color: #6d6e6f;
    overflow: hidden;
    padding-top: 2px;
    max-width: 140px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#description-textarea {
    width: 100%;
    resize: none;
    border: none;
    height: 100px;
    outline: none;
    font-size: 14px;
    display: inline-block;
    font-weight: 500;
    min-height: 0px;
    padding: 6px;
}
#description-textarea:hover{
    outline: 1px solid #6D6E6F;
    border-radius: 6px;
}
#description-textarea:focus{
    outline: 1px solid #6D6E6F;
    border-radius: 6px;
}
#task-detail-assignee{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 6px;
    border:none;
}
#task-detail-date-open{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    position: relative;
    border-radius: 6px;
    border:none;
}
#task-detail-date-calendar{
    position:absolute;
    width: 300px;
    height: 300px;
    top: 36px;
    left: 0px;
}
#task-detail-assignee:hover{
    background-color: #f5f1f1;
    cursor: pointer;
}
#task-detail-assignee-icon{
    display: flex;
    margin-right: 10px;
    vertical-align: bottom;
}
#task-detail-assignee-form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 6px;
    position: relative;
    border:1px solid #6D6E6F;
}
#task-detail-assignee-form > input{
    outline: none;
    border: none;
    font-size: 17px;
}
#task-detail-assignee-search{
    position: absolute;
    width: 450px;
    background-color: white;
    border: 1px solid #ECEAE9;
    border-radius: 5px;
    top:36px;
    left:0;
}

#task-detail-search-result{
    display: flex;
    height: 40px;
    align-items: center;
    padding-left: 20px;
}
#task-detail-search-result h3{
    font-size: 14px;
}
#task-detail-search-result p{
    padding-left: 10px;
    font-size: 12px;
}
#task-detail-search-result:hover{
   background-color: #F9F8F8;
   cursor: pointer;
}
#task-assignee-delete-button{
    color: #6D6E6F;
    display: flex;
    margin-left: 5px;
}
#task-assignee-delete-button:hover{
    color: black;
}
